* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 600px;
    margin: 0 auto;
    height: 100vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card {
    border: 1px solid black;
    padding: 15px 30px;
    border-radius: 8px;
    width: 600px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.name-row {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: aquamarine;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(63, 176, 138);
}