body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
}

.nav-container {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

.nav1 {
    /* border: 2px solid red; */
    background-color: #fff;
    padding: 10px
}

.nav1 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav1 li {
    display: inline;
}

.nav1 a {
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    position: relative;
}

.nav1 a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0a65c7;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
    transform: scalex(1);
}

.nav1 .login-btn {
    background-color: #254bf6;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}