body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
}

.nav-container {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

.nav1 {
    /* border: 2px solid red; */
    background-color: #fff;
    padding: 10px;
}

.nav1 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav1 li {
    display: inline;
}

.nav1 a {
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    position: relative;
}

.nav1 a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0a65c7;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
    transform: scalex(1);
}

.nav1 .login-btn {
    background-color: #254bf6;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Nav 2 */
.nav2 {
    background-color: #343a40;
    width: 200px;
    padding: 20px;
}

.nav2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav2 li {
    margin-bottom: 12px;
}

.nav2 a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    width: 100%;
}

.nav2 a:hover {
    background-color: #ccc;
    color: #000;
}

.nav2 .login-btn {
    background-color: #048a2f;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.nav2 .login-btn:hover {
    background-color: #045511;
    border: 1px solid white;
}

.nav3 {
    background-color: #45a2bb;
    padding: 10px;
}

.nav3 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav3 a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.nav3 .dropdown-content {
    display: none;
}

.nav3 .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 31px;
    background-color: #3e3e3e;
    min-width: 150px;
}