body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #d5d4d4;
    border-radius: 8px;
    padding: 30px;
    width: 300px;
}

h2 {
    color: #1a50a0;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #d8d8d8;
}

button {
    background-color: #1b81da;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

button:hover {
    background-color: #0c51d0;
}